*{
    box-sizing: border-box;
}
.nav-container{
    min-height: 50px;
    background: whitesmoke;
    display: flex;
    align-items: center;
    max-width: 6000px;
    margin: 0 auto;
}
.nav-logo{
    display: flex;
    width: 60%;
    margin-left: 10px;
}
.nav-logo img{
    width: 500px;
    margin-right: 40px;
    object-fit: cover;
}
.nav-logo p{
    font-size: 200px;
    padding: 0;
    margin: 0;
    font-weight: bold;
}
.nav-logo span{
    color:#FF42A5;
}
.nav-item{
    width: 30%;
    font-size: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}
.nav-item a{
    text-decoration: none;
}

.follow-btn{
    background-color: rgb(217, 225, 236)
}
.banner{
    height: 2000px;
    background: white;
    display: flex;
    align-items: center;
    max-width: 6000px;
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 10px;
}
.banner-text{
    height: 1800px;
    width: 50%;
    font-size: 70px;
    font-weight: bold;
    background-image: url(./images/Group\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 250px;
}
.banner-text h1{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.sign-in{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #FF42A5;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}
.go-rogue{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-img{
    height: 1800px;
    width: 50%;
}
.banner-img img{
    width: 50%;
    margin-left: 800px;

}

.banner1{
    padding-top: 0px;
    height: 2000px;
    background: rgba(255, 66, 165, 0.03) ;
    display: flex;
    align-items: center;
    max-width: 6000px;
    margin: 0 auto;
    justify-content: space-between;
}
.banner1-img{
    height: 2000px;
    width: 60%;
}
.banner1-img img{
    width:100%;
    padding:0px,0px,30px,0px;
    margin-bottom: 70px;
}

.banner1-text{
    text-align: right;
font-family: Work Sans;
font-size: 70px;
font-style: normal;
font-weight: 900;
line-height: normal;
padding-right: 800px;
}
.banner1-text p{
color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 70px;
}
.know-more{
color: #FFF;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
display: inline-flex;
padding: 21px 40px;
align-items: flex-start;
gap: 10px;
border-radius: 48px;
background: #FF42A5;
}
.banner1-text h2{
    background-color: #79777c;
}
.banner2{
height: 2000px;
max-width: 6000px;
background-color: white;
text-align: center;
justify-content: space-between;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.main1 span{
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 90px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.row {
    display: flex;
    justify-content: space-between;
}
  
.column {
    width: 500%;
    height: 1800px;
    padding: 5px;
}
.banner3{
    height: 2000px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 6000px;
    margin: 0 auto;
    margin-bottom: 10px; 
} 
.banner3-text{
    height: 1500px;
    width: 50%;
    font-size: 70px;
    font-weight: bold;
    padding-left: 950px;

}
.banner3-text span{
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.banner3-image{
height: 1500px;
width: 50%;
}
.banner3-image img{
width: 50%;
margin-left: 900px;
}
.small-image{
    height: 300px;
    width: 35%;
    margin-top: -450px;
}
.rectangles{
    height: 2000px;
    background: rgb(242, 236, 236);
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 6000px;
    margin: 0 auto;
}
.rectangles img{
    border: #4EC5F7;
    justify-content: space-between;
    height: 200px;
    width: 200px;
}
.rectangles small{
    font-size: 60px;
}
.change:hover{
    cursor: pointer;
    color: #de0989;
    border-radius: 10px;
}
.footer-container{
height: 1000px;
max-width: 6000px;
background-color: rgb(226, 220, 231);
text-align: center;
padding: 80px;
justify-content: space-between;
font-family: Work Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.footer-logo p{
    display: flex; 
    width: 60%; 
    margin-left: 10px;
    justify-content: space-between;
  
}
.footer-logo span{
    color:#FF42A5;
}
.descibe{
    align-items: center;
    display: flex;
}
.icons{
    align-items: center;
    display: flex;
    font-size: 40px;
}
.privacy{
    align-items: center;
    display: flex; 
    justify-content: space-between;
}


